<!DOCTYPE HTML>
<html>

<!-- Head -->
<% include ./partials/_head %>

<body id="survey">
    <!-- Header -->
    <% include ./partials/_header %>
    <!-- Main -->
    <div>
        <form id="form2" method="POST" action="/surveys/new">
            <% for (let i = 0; i < data.length; i++) { %>
                <p><%= data[i].qText %></p>
                <div id="newQuestion">
                    <% for (let j = 0; j < data[i].answers.length; j++) { %>
                        <input required="required" type="radio" id="<%= j %>" name="<%=data[i].id%>" value="<%= data[i].answers[j] %>">
                        <label for="<%= j %>"><%= data[i].answers[j] %></label>
                    <% } %>
                </div>
            <% } %>
            <input id="bouton2" type="submit" value="Soumettre">
        </form>
    </div>
    <!-- Footer -->
    <% include ./partials/_footer %>
</body>

</html>